{% extends '/layouts/home-section.html.twig' %}

   {% block class %} !py-6 !px-0 {% endblock %}
   {% block id %} hero {% endblock %}
   {% block title_container %}{% endblock %}

  {% block section_header %} {% endblock %}

   {% block content %}
       <div class="w-full h-full mx-auto p-8 flex flex-col justify-center gap-y-16">

           <div class="w-full mx-auto space-y-12 lg:w-11/12 text-center">
               <twig:Title:H1 class="">{{ headline }}</twig:Title:H1>
               <twig:Title:H2 class="">{{ sub_headline }}</twig:Title:H2>

               <div class="flex flex-col md:flex-row justify-center mx-auto space-y-12 md:space-y-0 space-x-0 md:space-x-12">
                   {% if  cta_button is not null %}
                       <twig:Button:Primary href=" {{ cta_action }}"
                                            class="!min-w-26 bg-light-text-highlight dark:bg-dark-text-highlight !text-dark-text-base !font-black border border-text-dark-text-base">
                           {{ cta_button }}
                       </twig:Button:Primary>
                   {% endif %}
                   {% if secondary_button is not null %}
                       <twig:Button:Secondary href="{{ secondary_action }}"
                                              class="!min-w-26 border-light-text-highlight dark:border-dark-text-highlight">
                           {{ secondary_button }}
                       </twig:Button:Secondary>
                   {% endif %}
               </div>
           </div>

           {% if cta_image is not empty %}
               <img src="{{ asset('/images/home/'~cta_image) }}"
                    class="inline-flex w-full mx-auto lg:w-3/4 rounded-md"
                    alt="Image de landing page {{ app_company_infos.name }}">
           {% endif %}

       </div>

   {% endblock %}