{% extends '/layouts/home-section.html.twig' %}

{% set title = album_header.title ?? null %}
{% set header = album_header.header ?? null %}
{% set description = album_header.description ?? null %}


   {% block id %} {{ app_album_section }} {% endblock %}
 {% block class %} relative {% endblock %}
        {#            background #}
       {% block background %}
           <svg class="absolute top-0 left-0 max-w-full text-dark-neutral/10 dark:text-light-neutral/10 h-full -z-10 opacity-50"
                viewBox="0 0 450 797"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path d="M449.5 448C460 714.5 257.884 790 135.001 790C86.4987 786 80 787.5 54.9987 787.5C-231.501 847.5 -73.9997 600.997 -73.9997 381.003C-75.2218 94.3933 -75.4999 43.0063 133.5 5.00253C342.501 -33.0012 449.5 196.71 449.5 448Z"/>
           </svg>
       {% endblock %}
       {#      end  background #}
{% block content %}
    <div class="w-full grid grid-cols-1  {% if images  | length >= 3 %}lg:grid-cols-3 {% else %} lg:grid-cols-2 {% endif%} gap-5 my-16  bg-secondary/10 ">

        {% if app_active_sections.photo is defined and app_active_sections.photo %}
            {% for image in images %}
                <twig:Card:Image fileName="{{ image.fileName }}"
                                 alt="{{ image.album.name }}"
                                 album_name="{{ image.album.name }}"
                                 slug="{{ image.album.slug }}"/>

            {% endfor %}
        {% else %}
            {% for image in images %}
                <twig:Card:Image fileName="{{ image.fileName }}"
                                 alt="{{ image.alt }}"/>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block button_link %}
    {% if (app_active_sections.photo is defined and app_active_sections.photo) %}
        <twig:Button:Primary href="{{ path('app_albums_index') }}"
                             class="font-poppins-medium bg-light-text-highlight dark:bg-dark-text-highlight">
            Les Photos
        </twig:Button:Primary>
    {% endif %}
{% endblock %}