<article
        class="w-full aspect-video border-2 border-dark-neutral/80 hover:border-dark-neutral dark:border-dark-neutral-light hover:border-dark-neutral-light/80 rounded-lg flex justify-center items-center relative overflow-hidden rounded-md">
    <figure class="w-full h-full bg-cover bg-center"
        style="background-image: url('/images/albums/{{ fileName }}')">
        <figcaption
                class="absolute w-full bg-dark-neutral dark:bg-light-neutral/80 text-dark-text-base dark:text-light-text-base font-semibold left-0 bottom-0 pt-2 px-2 text-center">

            {% if slug is defined %}
                <a href="{{ path('app_album_show', {slug: slug}) }}"
                   class="text-base hover:border-b hover:border-light-neutral dark:hover:border-light-text-base">
                    {{ album_name }}
                </a>
            {% else %}
                {{ alt }}
            {% endif %}
        </figcaption>
    </figure>

</article>
{#
<article
        class="w-full aspect-square border-2 border-dark-neutral/80 hover:border-dark-neutral dark:border-dark-neutral-light hover:border-dark-neutral-light/80 rounded-lg flex justify-center items-center relative overflow-hidden">
    <figure class="w-5/6 -mt-8">
        <img src="/images/albums/{{ fileName }}" alt="{{ alt }}" class="rounded-md">
        <figcaption
                class="absolute w-full bg-dark-neutral dark:bg-light-neutral/80 text-dark-text-base dark:text-light-text-base font-semibold left-0 bottom-0 pt-2 px-2 text-center">

            {% if slug is defined %}
                <a href="{{ path('app_album_show', {slug: slug}) }}"
                   class="text-base hover:border-b hover:border-light-neutral dark:hover:border-light-text-base">
                    {{ album_name }}
                </a>
            {% else %}
                {{ alt }}
            {% endif %}
        </figcaption>
    </figure>

</article>#}
