<article>
    <figure>
        {% if image is not empty %}
            <img {{ attributes.defaults({ class:'w-full md:w-1/2 mx-auto  rounded-md shadow-md'}) }}
                    src="/images/services/{{ image }}"
                    alt="{{ alt }}"
            />
        {% endif %}
    </figure>
    <div class="w-full md:w-2/3 py-12 mx-auto flex flex-col md:grid md:grid-cols-2 space-y-6 md:space-y-0 md:space-x-12">
        <div class="flex flex-col justify-center items-start">
        <twig:Title:H2>{{ label }}</twig:Title:H2>
        <twig:Title:H3>{{ subtitle }}</twig:Title:H3>
        </div>
        <div class="leading-loose pt-6 text-base font-semibold flex items-center">{{ content | raw }}</div>
    </div>
</article>


{# <article #}
{#        class="w-full  bg-[#FFFFFF] dark:bg-[#000000] border border-black/5 dark:border-darkBlack/5 p-6 transition-all "> #}

{#    <div class="flex flex-col items-start"> #}
{#        <div class="w-full text-justify"> #}
{#            <figure> #}
{#                {% if image is not empty %} #}
{#                    <img {{ attributes.defaults({ class:'w-full h-auto mx-auto  rounded-lg shadow-md mb-8'}) }} #}
{#                            src="/images/services/{{ image }}" #}
{#                            alt="{{ alt }}" #}
{#                    /> #}
{#                {% else %} #}
{#                    <div class="w-full aspect-video bg-gradient-to-b from-black to-secondary "></div> #}
{#                    #}{#                <div class="w-full aspect-video bg-gradient-to-r from-secondary/60 to-secondary/80 "></div> #}
{#                {% endif %} #}
{#            </figure> #}
{#            <twig:Title:H2 class="text-secondary font-semibold text-sm"> {{ subtitle}} </twig:Title:H2> #}
{#            <twig:Title:H3 > {{ label}} </twig:Title:H3> #}

{#            <div class="leading-loose pt-6 text-base text-black/80 dark:text-darkBlack/80 text-left"> #}
{#                {{ content | raw }} #}
{#            </div> #}
{#        </div> #}
{#    </div> #}
{# </article> #}